<%- include("includes/header") %>
  <body>
    <div class="card" style="width: 18rem">
      <img
        src="https://img.pddpic.com/goods/images/2021-03-19/d2fdd513-3bfc-4cd4-96e1-7ee5c86f00d9.jpeg?imageView2/2/w/1300/q/80"
        class="card-img-top"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </body>
  <%- include("includes/footer") %>
