<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/login.css" />

<body>
  <div class="home-container">
    <video autoplay muted loop class="background-video">
      <source src="/vidyo/gullar-vidyo.mp4" type="video/mp4" />
    </video>
  <form class="login-container" action="/admin/login" METHOD="POST">
    <div class="login-frame">
      <div class="login-top">
       
        
        <div class="home"> <a href="/admin" style="color: #869c67">Home</a></div>
        
      </div>
      <div class="login-input-frame">
        <div class="login-input-container">
          <label>Restaurant *</label>
          <input
            type="text"
            name="memberNick"
            class="member-nick"
            placeholder="Username"
            value=""
            required
          />
        </div>
        <div class="login-input-container">
          <label>Password *</label>
          <input
            type="password"
            name="memberPassword"
            class="member-password"
            placeholder="Password"
            value=""
            required
          />
        </div>
      </div>
      <button class="login-btn btn" name="login" type="submit">Login</button>
    </div >
    <div class="sugnup">
          Not registered yet?
          <a href="/admin/signup" style="color: #a7ccc6">Signup</a>
        </div>

   
    
  </form>
</body>

<%- include('includes/footer') %>
